
.background{
    background-color: rgb(53, 156, 106);
    height: 600px;
}

.text{
    color: yellow;
    justify-content: right;
    height: 100px;
    font-size: xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.text .first {
    color: rgb(214, 214, 99);
    font-family:Verdana, Geneva, Tahoma, sans-serif

}
.Unlimited{
    font-size: xx-large;
    margin: 80px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

#btn{
    color: rgb(8, 8, 8);
    background-color: yellow;
    width: 15rem;
    height: 2.5rem;
    margin-left: 900px;
    
}
#btn :hover{
box-shadow: gainsboro;
color: brown;
animation: alternate-reverse;
}

.sec{
    margin-left: 1000px;
    margin-bottom: 0;
    color: aliceblue;
}

.sec-dol{
    font-size: 100px;
    margin-left: 900px;
    color: aliceblue;
}

.form-check{
    
    margin: 10px;
}

.btn-btn-primary{
    padding: 10px;
    padding-left: 115px;
    padding-right: 115px;
    background-color: rgb(7, 92, 10);
    color: azure;
}

.card:hover {
    transform: scale(1.03);
    cursor: pointer;
  }

  
.firstOffer button {
    width: 250px;
    height: 50px;
    margin-top: 50px;
    border-radius: 0px;
    border: none;
    background-color: #feea3a;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.527);
  }
  .article-one {
    background-color: #f2f2f2;
    height: 800px;
  }
  .article-offer-btn {
    width: 270px;
    border-radius: 0px;
    border: none;
    background-color: teal;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.527);
  }
  .card {
    margin-top: 60px;
    border-radius: 0px;
    border: none;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.527);
  }
  .card-text {
    text-align: left;
    padding-bottom: 30px;
  }
  .card-banner-1 {
    padding: 10px 20px;
    background-color: #feea3a;
  }
  .card-price-1 {
    color: teal;
  }
  .card-price-1 > div {
    font-size: 40px;
  }
  .cardTitle-1 {
    font-size: 30px;
  }
  .card-banner-2 {
    color: white;
    padding: 10px 20px;
    background-color: teal;
  }
  .card-price-2 {
    color: #feea3a;
  }
  .card-price-2 > div {
    font-size: 40px;
  }
  .card-price-2 > span {
    color: white;
  }
  .cardTitle-2 {
    font-size: 30px;
  }
  .card-banner-3 {
    color: white;
    padding: 10px 20px;
    background-color: #f34235;
  }
  .card-price-3 {
    color: #feea3a;
  }
  .card-price-3 > div {
    font-size: 40px;
  }
  .card-price-3 > span {
    color: white;
  }
  .cardTitle-3 {
    font-size: 30px;
  }
  .article-one-sec2 {
    padding: 50px 0px;
  }
  .img {
    width: 220px;
    height: 220px;
    border-radius: 50%;
  }
  .article-two {
    height: 350px;
  }
  .article-btn {
    margin-top: 30px;
    width: 130px;
    border-radius: 0px;
    border: none;
    background-color: teal;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.527);
  }
  .article-three {
    height: 400px;
    background-color: #f2f2f2;
  }
  .teal {
    color: teal;
    font-weight: bold;
  }
  .article-three > div {
    margin-top: 40px;
  }
  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: #feea3a;
    border-radius: 50%;
  }
  .section-artc3 {
    padding-top: 50px;
  }
  .article-four {
    color: white;
    height: 400px;
    background-color: teal;
  }
  .article-four .col-3 {
    margin: 50px 5px 0px 5px;
    width: 300px;
  }
  .article-four img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }

  

  .search-field {
    padding-top: 40px;
  }
  .article-six button {
    border-radius: 0px;
    background-color: teal;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.527);
  }
  .article-six span {
    margin-right: 10px;
  }
  footer {
    height: 350px;
    background-color: teal;
    color: #feea3a;
  }